a {
  text-decoration: none;
  color: #fff;
}

.paper {
  display: flex;
  padding: 2rem;
  height: 30vh;
  text-align: center;
  align-items: center;
  justify-content: center;

  a {
    color: black;
  }

}

div.add-new-template {
  padding-top: 2rem;

  i {
    font-size: 4rem;
  }
}